.commentContainer {
    a {
        color: rgb(0, 124,255)
    }
    div {
        display: flex;
        align-items: center;
        justify-content: left;

        img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
        } 
        p{
            margin-left: 10px;
        }
    }
    

    .commentText {
        margin-top: 20px;
    }
}